<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Home</title>
		
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		
		<div class="container-fluid">
		<h2>Sistem Informasi Kepegawaian</h2>
		<h4>Selamat datang di Sistem Informasi Kepegawaian</h4>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h2>Lihat Data Pegawai Berdasarkan NIP</h2>
					</div>
					<form th:action="@{/pegawai}" method="GET">
						<div class="card-body">
							<label for="nip">Masukkan Nomor Induk Pegawai</label>
							<input type="text" name="nip" class="form-control" />
							<p></p>
							<button type="submit" class="btn btn-primary">Cari</button>
						</div>
					</form>
					
				</div>
			</div>			
		</div>
		
		<br>
		<div class="row">
			<div class="col-md-10">
				<div class="card">
					<div class="card-header">
						<h2>Lihat Detail Jabatan</h2>
					</div>
					<form th:action="@{/jabatan}" method="GET">
						<div class="card-body">
							<label class="control-label col-sm-2" for="idJabatan">Pilih Jabatan</label>
								<div class="col-sm-10">
									<select name="jabatan">
										<option th:each="jabatan : ${listOfJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}" name="jabatan"></option>									
									</select>
								</div>
								<p></p>
							<button type="submit" class="btn btn-primary">Lihat</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<br>
		<div class="row">
			<div class="col-md-10">
				<div class="card">
					<div class="card-header">
						<h2>Lihat Pegawai Tertua Termuda</h2>
					</div>
					<form th:action="@{/pegawai/termuda-tertua/}" method="GET">
						<div class="card-body">
							<label class="control-label col-sm-2" for="idJabatan">Pilih Instansi</label>
								<div class="col-sm-10">
									<select name="instansi">
										<option th:each="instansi : ${listOfInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}" name="instansi"></option>									
									</select>
								</div>
								<p></p>
							<button type="submit" class="btn btn-primary">Lihat</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		</div>
	</body>
</html>