<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Jabatan</title>
		 	
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
		<script src="jquery-1.11.2.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
		
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
	
		<script type="text/javascript">
		$(document).ready(function() {
		    $('#example').DataTable();
		    	"pageLength": 10
		} );
		</script>		
	</head>
	
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<div id="content" class="container-full-bg">
		<h1>Lihat Semua Jabatan</h1> 
		
			<table id="example" class="table table-striped table-bordered" style="width:100%">
				<thead>
					<tr>
						<th scope="col">Nama</th>
						<th scope="col">Deskripsi</th>
						<th scope="col">Gaji Pokok</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="jabatan, iterationStatus : *{listJabatan}">
						<td th:text="${jabatan.nama}"></td>
						<td th:text="${jabatan.deskripsi}"></td>					
						<td th:text="${jabatan.gajiPokok}"></td>
					</tr>	
				</tbody>
			</table>
		</div>
	</body>		
</html>